body {
  background-color:#333;
  font: 14px/1.2 "Myriad Pro", Myriad, Arial, sans;
  color:#ccc;
}

#login {
  position:absolute; 
  left:50%;
  top:50%;
  margin-left:-100px;
  width:200px;
  padding:30px;
  
  background-color:#111;
  border:1px solid #ccc;
}

#login input, #login label {
  line-height:2;
}

#login input {
  background-color:#000;
  border:1px solid #444;
  padding:3px;
  display:inline;
}